@media (max-width: 1400px) {
  .content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .left {
    max-width: 35%;
  }

  .right {
    max-width: 65%;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }

  .header {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .main {
    padding-top: 0;
  }

  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .left {
    margin-right: 0;
    max-width: 40%;
  }

  .right {
    padding-top: 0;
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .left {
    max-width: 60%;
  }

  .right {
    max-width: 90%;
  }

  .title {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .header {
    padding-top: 20px;
    text-align: center;
  }

  .logo {
    width: 150px;
  }

  .left,
  .right {
    max-width: 100%;
  }

  .title {
    margin-bottom: 40px;
    font-size: 24px;
  }

  .main-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }

  .main-data__lesson-topic,
  .main-data__class {
    width: 100%;
  }

  .form__input,
  .select__header,
  .form__textarea,
  .select__option--text,
  .options__btn--text,
  .form__btn {
    font-size: 14px;
  }

  .form__label {
    top: -13px;
  }

  .form__label,
  .options__item,
  .purpose-lesson__error,
  .purpose-lesson__counter {
    font-size: 12px;
  }

  .form__textarea {
    height: 150px;
  }

  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
